body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

.container {
    display: block;
	width: 640px;
	height: auto;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}

/* **************************************** */
.fixed {
    display: block;
	position: fixed;
	top: 10px;
	width: inherit;
	height: 200px;
    margin: 0 auto 0 auto;
    padding: 20px auto 10px auto;
    background-color:gray;
    border-radius: 10px;
    overflow: hidden;
}

.header{
	padding: 20px;
}

.footer{
	position: absolute;
	bottom: 0;
	margin: 20px;
	background-color: blue;
}

.headLeft {
	float: left;
	background-color: blue;
}

.headRight {
	float: right;
	background-color: blue;
}

.content {
	padding: 0;
    overflow: hidden;
}

/* **************************************** */
.scroll {
    display: block;
	position: fixed;
	top: 220px;
	width: 640px;
	height: 400px;
    margin: 0 auto 0 auto;
    background-color:gray;
    border-radius: 10px;
    overflow: scroll;

}

.segment {
	margin: 20px;
	background-color: blue;
}