body {
    overflow:   hidden;

	margin: 0px;
	padding: 0px;
	background-color: rgb(200,200,255);
	font-family:'Arial';
}

.container {
    display: block;
	width: 960px;
	height: auto;
    margin: 0 auto 0 auto;
    padding: 0;
	bottom: 0px;
	background-color: rgb(255,200,200);

}

/* **************************************** */
.green {
	color: darkgreen;
}

.red {
	color: darkred;
}

/* **************************************** */
.fixed {
    display: block;
	position: fixed;
	top: 10px;
	width: inherit;
	height: 200px;
    margin: 0 auto 0 auto;
    padding: 20px auto 10px auto;
    background-color:inherit;
    border-radius: 10px;
    overflow: hidden;
    font-size: 32px;
}

.header{
	padding: 10px;
	font-size:40px;
}

.footer{
	position: absolute;
	bottom: 40px;
	margin: 20px;
}

.inputWrapper{
	position: absolute;
	bottom: 0px;
	margin: 0px;
	width:960px;
}
.postInput{
	position: absolute;
	bottom: 0px;
	margin: 20px;
	width: 816px;
	font-size:25px;
}
.postButton{
	float: right;
	right: 10px;
	margin: 20px;
	width: 80px;
	font-size:26px;
}
	
.headLeft {
	font-size:inherit;
	float: left;
	color: blue;
}

.headRight {
	float: right;
/*	background-color:blue;*/
}

.content {
	width: 920px;
	height: 80px;
	bottom: 0px;
	text-align: center;
	padding: 0;
	font-size: 40px;
    overflow: hidden;
}

/* **************************************** */
.scroll {
    display: block;
	position: fixed;
	top: 220px;
	bottom:0px;
	width: inherit;
	height: auto;
    margin: 0 auto 10px auto;
    background-color:inherit;
    border-radius: 10px;
    font-size: 24px;
    overflow: hidden;
}

.segmentWrapper{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: -25px;
	margin: 10px 0 10px 0;
	overflow:auto;
}

.segment {
	margin: 0 20px 0 10px ;
	white-space: nowrap;
	overflow: hidden;
}

.segLeft {
	float: left;
	color: black;
	width:162px;
	padding: 0 0px 0 0;
	text-align: center;
}
.segMiddle {
	float: left;
	color: blue;
	width: 180px;
	padding: 0 0px 0 0;
	text-align:center;
}
.segRight {
	color: rgb(100,180,100);
	font-weight: bold;
}
